#input-search {
    background-color: #ececec;
    height: 50px;
}

#lista-cliente .list-group-item {
    background-color: #ececec; 
}

#lista-cliente .list-group-item:hover {
    cursor: pointer;
    background-color: white; 
}